@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --color-primary-pale: hsl(225, 100%, 94%);
    --color-primary-bright: hsl(245, 75%, 52%);
    --color-neutral-pale: hsl(225, 100%, 98%);
    --color-neutral-grey: #98989e;
    --color-neutral-desaturated: hsl(224, 23%, 55%);
    --color-neutral-dark: hsl(223, 47%, 23%);
    --font-size-body: 16px;
    --font:'Red Hat Display', sans-serif;
    --font-weight-regular: 500;
    --font-weight-bold: 700;
    --font-weight-ultra-bold: 900;
}

body{
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: var(--color-primary-pale);
    background-size: contain;
    font-family: var(--font);
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.container{
    background-color: white;
    width: 450px;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.container img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.text h2{
    font-weight: var(--font-weight-ultra-bold);
    color: var(--color-neutral-dark);
    padding: 2rem;
    font-size: 1.75rem;
}

.text p{
    padding: 0 2.2rem 1.5rem;
    color: var(--color-neutral-grey);
    font-weight: 700;
    line-height: 1.5;
}


.plan{
    background-color: var(--color-neutral-pale);
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
}

.musicIconYearly{
    display: flex;
}

#music{
    margin:1rem;
}

.planSelector{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#year-plan{
    font-size: 16px;
    font-weight: 900;
    line-height: 1.75rem;
    color: var(--color-neutral-dark);
}

#payment{
    color: var(--color-neutral-grey);
}

.changePlan a{
    font-weight: 700;
    color: var(--color-neutral-dark);
    margin-right: 1rem;
    transition: all .2s ease-in;
}

.changePlan :hover{
    color: var(--color-neutral-desaturated);
    text-decoration: none;
}

.callToActions a{
    display: block;
    text-decoration: none;
    padding: 1.25rem;
    width: 80%;
    justify-content: center;
    margin: 2rem auto;
    border-radius: 0.75rem;
    border: none;
    font-weight: 700;
    transition: all .2s ease-in;
}

#PaymentBtn{
    background-color: var(--color-primary-bright);
    color: white;
    box-shadow: 0 1.25rem .5rem var(--color-primary-pale);
}

#PaymentBtn:hover{
    background-color:var(--color-neutral-desaturated);
}

#CancelOrder{
    color: var(--color-neutral-desaturated)
}

#CancelOrder:hover{
    color: var(--color-neutral-dark)
}